@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Administration Ashralite</h1>

</div>

<button class="btn btn-primary btn-lg"><span class="fa fa-user"></span><br>@Html.ActionLink("Faire l'appel", "Index", "COURS",null, new {  Style = "color:White;" })</button>
<button class="btn btn-danger btn-lg"><span class="fa fa-shopping-cart"></span><br>@Html.ActionLink("Professeurs", "Index", "INDIVIDUs", null, new { Style = "color:White;" })</button>
<button class="btn btn-success btn-lg"><span class="fa fa-calendar"></span><br>@Html.ActionLink("Eleves", "Eleve", "INDIVIDUs",null, new {  Style = "color:White;" })</button>
@*<button class="btn btn-info btn-lg"><span class="fa fa-bullhorn"></span><br>@Html.ActionLink("Faire l'appel", "Index", "COURS",null, new {  Style = "color:White;" })</button>*@


@*<li>@Html.ActionLink("Accueil", "Index", "Home")</li>
<li>@Html.ActionLink("À propos de", "About", "Home")</li>
<li>@Html.ActionLink("COURS", "Index", "COURS")</li>
<li>@Html.ActionLink("Prof & Eleve", "Index", "INDIVIDUs")</li>
<li>@Html.ActionLink("connexion", "AA", "Account")</li>*@