@model Institut_Ashralite_Adm.Models.COURS



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>COURS</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.LIBELLE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LIBELLE)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DATE_COURS)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DATE_COURS)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.HEURE_DEBUT)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.HEURE_DEBUT)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.HEURE_FIN)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.HEURE_FIN)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.COMMENTAIRE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.COMMENTAIRE)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ACTIF)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ACTIF)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DATE_ACTIF)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DATE_ACTIF)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UTILISATEUR_CREATION)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UTILISATEUR_CREATION)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UTILISATEUR_MODIFICATION)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UTILISATEUR_MODIFICATION)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DATE_CREATION)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DATE_CREATION)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DATE_MODIFICATION)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DATE_MODIFICATION)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.INDIVIDU.NOM)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.INDIVIDU.NOM)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MATIERE.ABBREVIATION)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MATIERE.ABBREVIATION)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
